
<form action='/recipes/edit/<%=@recipe.id%>' method='post'>
<input id='hidden' type='hidden' name='_method' value='patch'>
<label>Title:</label>
    <input type="TEXT" name="title">
<br>
<label>Ingredients:</label>
    <input type="TEXT" name="ingredients">
<br>
<label>Cook Time:</label>
<input type="TEXT" name="cooktime">
<br>
<label>Instructions:</label>
<input type="TEXT" name="instructions">
<br>

<input type="submit" value="Edit Recipe"> 
</form>