
<form action='/recipes/edit/<%=@recipe.id%>' method='post'>
<input type='hidden' value='patch' name='_method'>
<label>Ingredients:</label>
    <input type="TEXT" name="recipe[instruction]" value="<%=@recipe.ingredients%>">
<br>
<label>Cook Time:</label>
<input type="integer" name="recipe[time]" value="<%=@recipe.time%>">
<br>
<label>Instructions:</label>
<input type="TEXT" name="recipe[instruction]" value="<%=@recipe.instruction%>">
<br>

<input type="submit" value="Edit Recipe"> 
</form>