<h1>Create a New Recipe </h1>

<form method="POST" action="/recipes/new">
<label>Title:</label>
    <input type="TEXT" name="title">
<br>
<label>Ingredients:</label>
    <input type="TEXT" name="ingredients">
<br>
<label>Cook Time:</label>
    <input type="TEXT" name="time">
<br>
<label>Step 1:</label>
    <input type="TEXT" name="step_1">
<br>
<label>Step 2:</label>
    <input type="TEXT" name="step_2">
<br>
<label>Step 3:</label>
    <input type="TEXT" name="step_3">
<br>
<label>URL:</label>
    <input type="LINK" name="url">


<br>
<br>




<br>
<br>
<input type="submit" value="New Recipe"> 
</form>