<h1>Create a New Recipe </h1>

<form method="POST" action="/recipes/new">
<label>Title:</label>
    <input type="TEXT" name="title">
<br>
<label>Ingredients:</label>
    <input type="TEXT" name="ingredients">
<br>
<label>Cook Time:</label>
<input type="TEXT" name="time">
<br>
<label>Instructions:</label>
<input type="TEXT" name="instruction">
<br>

<input type="submit" value="New Recipe"> 
</form>