<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Recipe Social</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='/account'>Account</a></li>
        <li><a href="/logout">Log Off</a></li>
       
      </ul>
    </div>
  </nav>
<br>
<h1>Choose a Recipe </h1>
<h5> Enjoy your amazing meal!</h5>
<br>


<%@recipe.each do |r|%>
<a href="/recipes/<%=r.id%>"> 
  <ul>
  <li><u><%=r.title%></u></li>
  </ul></a>
    <%if r.user_id == session[:user_id]%>
      <a href='/recipes/edit/<%=r.id%>'>Edit</a>
      <form method="post" action="/recipes/<%= r.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Recipe"></form> 
    <%end%>
<%end%>
<br>




<br>

