<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Recipe Social</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='/account'>Account</a></li>
        <li><a href="/logout">Log Off</a></li>
       
      </ul>
    </div>
  </nav>
<br>
<h2>Choose Recipe </h2>
<br>
<%@recipe.each do |r|%>

<a href="/recipes/<%=r.id%>"> 
<li><%=r.title%></li>
</a>
<%end%>
</ul>



<br>

