 
 <header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgA5RB73kr0pjePbTZXXNczb5OS3YVlVrv7A&usqp=CAU" class="img-responsive main-image"></header>
 
  <div class="col-md-8 col-md-offset-2">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    
   <h1>Welcome To The Recipe List</h1>

    <div class="sign">
         <a href="/login">Sign In</a>
         <a href="/new">Sign Up </a>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            




 