<h1>Sign In</h1>
<br>
<form method="POST" action="/login">
<label>Email:</label>
    <input type="EMAIL" name="email">
<br>
<label>Password:</label>
<input type="PASSWORD" name="password">
<br>
<br>
<input type="submit" value="Sign In"> 
<br>
<br>
<br>

<h6> Don't Have an Account? <a href="/new"> Sign Up </a></h6>