<h1>Sign In</h1>


<form method="POST" action="/login">
<label>Email:</label>
    <input type="EMAIL" name="email">
<br>
<label>Password:</label>
<input type="PASSWORD" name="password">
<br>
<input type="submit" value="Sign In"> 
<br>
<br>
<a href="/new">Sign Up </a>