<form method="POST" action="/new">
<label>Name:</label>
    <input type="TEXT" name="name">
<br>
<label>Email:</label>
    <input type="TEXT" name="email">
<br>
<label>Password:</label>
<input type="TEXT" name="password">
<br>
<input type="submit" value="Sign Up"> 